#email{
    inline-size:20px ;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}
#phone1{
    width: 20px;
}
#buttons{
    display: flex;
    gap: 80px;
    margin-bottom: 30px;
    justify-content: center;
    border: none;
    
}
#boxes{
    width: 25%;
}

#firstimg{
    width: 100%;;
    height: 530px;

}

#movin1{
   width: 95%;
}

#flowimage{
   overla 
}

#movn2{
   width:95%;
}

#movn3{
   width: 95%;
}


 #phone{
  float: inline-end; 
}

.testimonies{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr; 
}

#topbar{
    
    border: 2px;
}


#movg{
    display: grid;
    font-weight: bold;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    color: white;
    background-color: orangered;
    height: 100px;
    
}


#footer{

    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    color: white;
}
#x1{
    text-align: center; }

    #keep{
        background-color: blue;
        color:white;
        }

.body{
    margin-left: 20%;
    margin-right: 20%;
}



#background{
    margin-left: 25%;
    margin-right: 25%;
      background-color: white;
      color: black;

}
#navbar{
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.head{
    background-color: black;
    height: 30px;
    color: antiquewhite;
    text-align: center;
}
#moving{
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.img{
    height: 50px;
    width: 50px;
}

.par{
   text-align: center; 
}

#images{
    display: flex;
    justify-content: space-around;
    height: 50%;

  text-align: center;
}


#top{
    display: flex;
    justify-content: space-between;
}

#news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    }

#whatwedo{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    -ms-grid-column-align: center;
}



#bookusnow{
display: grid;
grid-template-columns: 1fr 1fr 1fr;

background-image: url('./images/move.webp');
background-repeat: no-repeat;
}

#book{
    background-color: orangered;
}

#form{
    background-color: blue;
}


#p3{
   
    color: white;
    vertical-align: middle;
}



#bkone{
    background-image: url('./images/img8.jpeg');
    background-repeat: no-repeat;
    height: 200px;
    width: 250px;
    
}

#bktwo{
    background-image: url('./images/img3.webp');
   background-repeat: no-repeat;
    height: 200px;
    width: 250px;

}

#bkthree{
    background-image: url('./images/moving3.jpeg');
    background-repeat: no-repeat;
    height: 200px;
    width: 250px;

}


.b{
    background-color: darkorange;
    color: white;
    border: none;
    height: 50px;
}

@media all and(max-width: 600px){

}
